@model MuzikosSistema.Models.SongArtist

@{
    ViewBag.Title = "Trinti atlikėją/grupę";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trinti atlikėją/grupę</h2>

<h3>Ar tikrai norite ištrinti?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Atlikėjas/Grupė
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Šalinti" class="btn btn-default" /> |
            @Html.ActionLink("Grįžti į sąrašą", "Index")
        </div>
    }
</div>
